/* You can add global styles to this file, and also import other style files */
* {
    color: #4c4a40;
}

body {
    background-color: #F7F794;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
}