.counter {
    width: 100%;
    background: rgb(127, 12, 35);
}

.counter-bottom {
    display: flex;
    justify-content: center;
    min-height: 50px;
}

.counter button {
    font-size: 20px;
    min-width: 150px;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(64, 6, 18);
    cursor: pointer;
}

.counter h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.counter h1 span {
    margin-left: 20px;
}

.user-card {
    padding: 10px;
    border-radius: 20px;
    background: rgb(127, 12, 35);
    margin: 5px;
}